/*OPERACIONES: suma, resta, multiplicación y división*/

body.test{
  width: $ancho * 2;
}

main.test{
  width: $ancho;
  section.test{
    width: $ancho / 2;
  }
  section.test2{
    width: calc(1000px - $ancho / 2);
  }

}

/*CONDICIONALES IF
Comparación si es mayor, igual, menor, distinto
== igual
!= distinto
< menor
> mayor

$section: footer;
p{
 @if $section == section{
  color: $primary;
 }
 @else  if $section == div{
  color: $secondary;
 }
 @else $section == aside{
  color: $tertiary;
 }
}


*/

/*BUCLES : for (para)
*/
@for $titulo from 1 through 6{
  //fragmento que se repite
  h#{$titulo}.special{
    font-size: 3rem/$titulo ;
  }
} 
@for $col from 1 through 6{
  //fragmento que se repite
  col-#{$col}.special{
    width: $ancho / $col;
  }
}

/*EACH* : listas*/
@each $lista in header, main, footer{
  .#{$lista}{
    background-image: orange;
  }
}

/*maps with each*/
$mapa:(
  twitter:  aqua,
  instagram: yellow,
  facebook: blue,
  youtube: red
);

@each $nombres, $colores in $mapa{
  .boton-#{$nombres}{
    background-color: $colores;
  }
}

/*extend : comparte fragmenots idénticos*/
.botoncillo{
  width: 200px;
  padding: 10px;
  border: 1px solid #000;
  background-color: red;
}
.botoncillo-azul{
  @extend .botoncillo;
  background-color: blue;
}
.botoncillo-amarillo{
  @extend .botoncillo;
  background-color:yellow;
}
/*mixins: reutilizar fragmentos que pueden ir cambiando*/
@mixin videobox ($ancho, $altura, $espaciado) {
  width: $ancho;
  height: $altura;
  padding: $espaciado;
}
.cajavideo{
  @include videobox (500px, 300px, 10px)
}
.cajavideo2{
  @include videobox (calc($ancho*2), 300px, 0px)
}