/*typography*/

h1 {
  font-size: 50px;
  font-weight: 200;
  padding-bottom: 25px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 22px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 19px;
  padding-top: 19px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  padding-top: 16px;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 13px;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
}

p {
  font-size: 14px;
  padding-bottom: 15px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}
