//VARS
// $name: value;

$primary: #ed2f55;
$secondary: #7edcd5;
$tertiary: #f9be03;
$quaternary: #02c9a8;
$greylight: #f4eaee;
$peachlight: #fdddd1;
$pinklight: #fcd1db;
$darkgrey: #4a4e4e;
$grey: #999999;
$white: #ffffff;
$black: #000;
$ancho: 100%;
